<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">UNIMIBModules</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><a class="nav-link" href="/#!/getUser"
                                     ng-if="isLogged">Profile</a></li>
        </ul>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item "><a class="nav-link" href="/#!/loginUser"
                                 ng-if="!isLogged">Login</a></li>
    </ul>
    <ul class="navbar-nav mr-auto" ng-if="isLogged">
        <li class="nav-item"><a class="nav-link"
                                ng-click="displayDialog(1)">Logout</a></li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item "><a class="nav-link" href="/#!/signupUser"
                                 ng-if="!isLogged">SignUp</a></li>
    </ul>
</nav>
<div class="modal" tabindex="-1" role="dialog" ng-style="{'display': displayModalLogout}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logging out...</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Log out?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="logoutUser()">Yes</button>
                <button type="button" class="btn btn-secondary" ng-click="displayDialog(2)">No</button>
            </div>
        </div>
    </div>
</div>