<ng-include src="'../template/navbar.template.html'"></ng-include>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <h2>Signup</h2>
            <form class="signup" name="form" ng-submit="signupUser()" role="form">
                <div class="form-group"
                     ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username:</label> <input class="form-control"
                                                                   id="username" name="username" ng-model="username"
                                                                   required type="text"/>
                    <span class="help-block" ng-show="form.username.$dirty && form.username.$error.required">Username is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                    <label for="name">Name:</label> <input class="form-control"
                                                           id="name" name="name" ng-model="name" required type="text"/>
                    <span class="help-block"
                          ng-show="form.name.$dirty && form.name.$error.required">Name is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.required }">
                    <label for="surname">Surname:</label> <input class="form-control"
                                                                 id="surname" name="surname" ng-model="surname"
                                                                 required type="text"/>
                    <span class="help-block" ng-show="form.surname.$dirty && form.surname.$error.required">Surname is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email:</label> <input class="form-control"
                                                             id="email" name="email" ng-model="email"
                                                             required type="email"/>
                    <span class="help-block"
                          ng-show="form.email.$dirty && form.email.$error.required">Email is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password:</label> <input class="form-control"
                                                                   id="password" name="password" ng-model="password"
                                                                   required type="password"/>
                    <span class="help-block" ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
                </div>
                <br/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" ng-style="{'display': displayModal1}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User created!</h5>
                </div>
                <div class="modal-body">
                    <p>Proceed to login in order to navigate across the site.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="changePage()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" ng-style="{'display': displayModal2}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">SignUp Error!</h5>
                </div>
                <div class="modal-body">
                    <p>Username already exist. Please choose another one.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="resetForm()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>