<div class="jumbotron">
	<h1>Create Survey</h1>
</div>
<div class="container-fluid mt-4" ng-init="load()">
	<div class="row">
		<div class="col-md-4 pl-4">
			<div class="form-group">
				<label for="Name"><b>Survey Name</b></label> <input type="text"
					class="form-control" name="name" aria-describedby="Name"
					placeholder="Enter name" ng-model="name">
				<p ng-show="showMessageErr" class="messageError mt-4">{{message}}</p>
				<p ng-show="showMessageConf" class="messageConfirm mt-4">{{message}}</p>
			</div>
			<button ng-click="addSurvey()" type="submit"
				class="btn btn-primary mt-4">Submit</button>
		</div>

	</div>
</div>