<div class="jumbotron">
	<h1>Create Survey</h1>
</div>
<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-md-4 pl-4">
			<form name="form" novalidate>
				<div class="form-group">
					<label for="Name"><b>Survey Name</b></label> <input type="text"
						class="form-control" name="name" aria-describedby="Name"
						placeholder="Enter name" ng-model="name" required> <br />
				</div>
				<button ng-disabled="form.$invalid" ng-click="addSurvey()"
					type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

	</div>
</div>