<!DOCTYPE html>
<html lang="en" ng-app="UNIMIBModules">
	<head>
		<meta charset="UTF-8">
		<title>Add Answer</title>
	</head>
	<body ng-controller="addAnswerCtrl">
		<div ng-init="load()">
			<p>{{ survey_select ? "Survey by " + surveys[survey_select].userDTO.username : "Select a survey" }}</p>
			<label for="survey_select">Select a survey</label>
			<br/>
			<select ng-model="survey_select" id="survey_select" name="survey_select" ng-change="selectSurvey(survey_select)">
				<option ng-repeat="survey in surveys" value="{{ $index }}">{{ survey.surveyName }}</option>
			</select>
			<br/><br/>
			<label for="question_select">Select a question</label>
			<br/>
			<select ng-model="question_select" id="question_select" name="question_select" ng-disabled="!survey_select">
				<option ng-repeat="question in questions" value="{{ $index }}">{{ question.id }}</option>
			</select>
			<br/>
			<div ng-hide="!question_select">
				<p>{{ questions[question_select].text }}</p>
				<div ng-hide="questions[question_select].questionType != 'SINGLECLOSED'">
					<label ng-repeat="answer in questions[question_select].closeEndedAnswerDTOSet">
						<input type="radio" ng-model="model.closeended_answer" name="closeended_answer" ng-value="answer.id"/> {{ answer.text }}
						<br/>
					</label>
				</div>
				<div ng-hide="questions[question_select].questionType != 'MULTIPLECLOSED'">
					<div ng-repeat="answer in questions[question_select].closeEndedAnswerDTOSet">
						<input type="checkbox" name="answer" id="{{answer.id}}" ng-model="options[$index]" ng-value="answer.id">
						<label for="{{answer.id}}">{{answer.text}}</label>
					</div>
				</div>
				<div ng-hide="questions[question_select].questionType != 'OPEN'">
					<label for="openended_answer">Answer:</label>
					<br/>
					<input type="text" ng-model="openended_answer" name="openended_answer" id="openended_answer">
				</div>
				<br/>
				<button ng-click="submit(question_select)">Submit</button>
			</div>
		</div>
	</body>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="controller/app.js"></script>
	<script src="controller/addAnswerCtrl.js"></script>
</html>