<!DOCTYPE html>
<html ng-app="UNIMIBModules">
<body ng-controller="editQuestionCtrl">
Modifica domanda {{question.id}}
<form novalidate>
    Testo domanda:<br>
    <input type="text" ng-model="questiontext">
    <p ng-show="errorQuestion" style="color:red;display:inline"> Domanda mancante</p><br>
    <br><br>
   <select ng-model="categorySelected">
        <option value="">
            Modifica la categoria
        </option>
        <option ng-repeat="category in categories" value="{{category}}">
            {{category.name}}
        </option>
    </select><p ng-show="errorCategory" style="color:red;display:inline"> Categoria mancante</p>
    <br>
    <br>
    Modifica tipologia di domanda:
    <p ng-show="errorQuestionType" style="color:red;display:inline"> Devi selezionare una tipologia</p>
    <br>
    <label>
        <input type="radio" name="questionType" ng-click="showQuestionType(0)">
        Aperta
    </label><br/>
    <label>
        <input type="radio" name="questionType" ng-click="showQuestionType(1)">
        Chiusa scelta multipla
    </label><br/>
    <label>
        <input type="radio" name="questionType" ng-click="showQuestionType(2)">
        Chiusa scelta singola
    </label><br/>
    <br/>
    <div ng-show="showHideClosedM">
        <div>Modifica risposte:
            <p ng-show="errorAnswer" style="color:red;display:inline">
                Almeno 2 risposte e nessuna risposta deve essere vuota
            </p>
        </div>
        <ul>
            <li ng-repeat="answer in questionAnswer">
                <div>
                    <div style="display:inline">
                            <span>
                                <input type="text" ng-model="answer.text" placeholder="Risposta" required/>
                            </span>
                    </div>
                    <span ng-hide="answer.length == 1">
                            <a href ng-click="removeAnswer($index)">rimuovi risposta</a>
                        </span>
                </div>
            </li>
            <li>
                <a href ng-click="newAnswer($event)">Aggiungi risposta</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <button ng-click="editQuestion()">Conferma modifica</button>
    <button ng-click="removeQuestion()">Elimina domanda</button>
</form>
<p>{{ prova }}</p>
</body>
<script src="node_modules/angular/angular.min.js"></script>
<script src="controller/app.js"></script>
<script src="controller/editQuestionCtrl.js"></script>
</html>