<ng-include src="'../template/navbar.template.html'"></ng-include>
<div class="container-fluid" ng-init="load()">
    <div class="row">
        <div class="col-md-4">
            <h1>Edit Question {{question.id}} </h1>
        </div>
    </div>
    <form novalidate>
        <div class="row">
            <dt class="col-sm-3">Modify question text:</dt>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control rounded" ng-model="questiontext" aria-describedby="search-addon">
                <h6 ng-show="errorQuestion" style="color:red;display:inline"> Missing question</h6><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <select class="form-select" aria-label="Default select example" ng-model="categorySelected">
                    <option value="">
                        Choose a category
                    </option>
                    <option ng-repeat="category in categories" value="{{category}}">
                        {{category.name}}
                    </option>
                </select><h6 ng-show="errorCategory" style="color:red;display:inline">Missing category</h6>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="file" onchange="angular.element(this).scope().file_changed(this)" class="form-control" id="customFile" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"
                                ng-click="file_changed(null)">Clear</button>
                    </div>
                </div>
                <br>
                <img src="{{prev_img}}" alt="200x200" style="width: 200px; height:200px"
                     ng-show="imageView"/>
            </div>
        </div>
        <br>
        <div class="row">
            <dt class="col-sm-3">Modify question type:</dt>
            <h6 ng-show="errorQuestionType" style="color:red;display:inline">Missing question type</h6>
        </div>
        <div class="row">
            <div class="m-2">
                <div class="form-check">
                    <label>
                        <input class="form-check-input" type="radio" name="questionType" ng-click="showQuestionType(0)">
                        Open
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input class="form-check-input" type="radio" name="questionType" ng-click="showQuestionType(1)">
                        Closed multiple choice
                    </label>
                </div>
                <div class="form-check">
                    <label>
                        <input class="form-check-input" type="radio" name="questionType" ng-click="showQuestionType(2)">
                        Closed single choice
                    </label>
                </div>
            </div>
        </div>
        <br/>
        <div ng-show="showHideClosedM">
            <div class="row">
                <div class="row">
                    <dt class="col-sm-3">Modify answers:</dt>
                    <h6 ng-show="errorAnswer" style="color:red;display:inline">
                        At least 2 answers and no answer must be blank
                    </h6>
                </div>
            </div>
            <div class ="row">
                <div class="col-md-4">
                    <ul>
                        <li ng-repeat="answer in questionAnswer">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control rounded" aria-describedby="button-addon2" ng-model="answer.text" placeholder="Answer" required/>
                                <button class="btn btn-outline-secondary" type="button" ng-click="removeAnswer($index)">Remove</button>
                            </div>
                        </li>
                        <li>
                            <a href ng-click="newAnswer($event)">Add Answer</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" ng-click="editQuestion()">Modify question</button>
                <button class="btn btn-danger" ng-click="removeQuestion()">Delete question</button>
            </div>
        </div>


    </form>
    <p>{{ prova }}</p>
</div>