<ng-include src="'../template/navbar.template.html'"></ng-include>
<div class="jumbotron">
	<h1>Compile survey</h1>
</div>
<div class="container-fluid mb-4" ng-init="load()">
	<h4>
		Survey: {{ survey.surveyName }}
		<br/>
		Survey by: {{ survey.userDTO.username }}
	</h4>
	<br/><br/>
	<p>
		{{ questions[questionIndex].text }}
		<br/>
		<img src="{{questionImage}}" alt="Question image" ng-hide="!questionImage"/>
	</p>
	<div ng-hide="questions[questionIndex].questionType != 'SINGLECLOSED'">
		<div ng-repeat="answer in questions[questionIndex].closeEndedAnswerDTOSet">
			<label>
				<input type="radio" ng-model="model.closeended_answer" name="closeended_answer" ng-value="answer.id"/>
				{{ answer.text }}
				<br/>
			</label>
		</div>
	</div>
	<div ng-hide="questions[questionIndex].questionType != 'MULTIPLECLOSED'">
		<div ng-repeat="answer in questions[questionIndex].closeEndedAnswerDTOSet">
			<input type="checkbox" name="answer" id="{{answer.id}}" ng-model="options[$index]" ng-value="answer.id">
			<label for="{{answer.id}}">{{answer.text}}</label>
		</div>
	</div>
	<div ng-hide="questions[questionIndex].questionType != 'OPEN'">
		<label for="openended_answer">Answer:</label>
		<br/>
		<textarea ng-model="openended_answer" name="openended_answer" id="openended_answer"
				  ng-value="currentAnswer.answerText" class="form-control"></textarea>
	</div>
	<br/>
	<button ng-click="insert()" ng-hide="mode === 'EDIT'" class="btn btn-primary">Insert</button>
	<span ng-hide="mode === 'INSERT'">
		<button ng-click="modify()" class="btn btn-primary">Modify</button>
		<button ng-click="delete()" class="btn btn-danger">Delete</button>
	</span>
	<button ng-click="skipQuestion()" class="btn btn-warning" ng-hide="questionIndex === questions.length - 1">
		Skip question
	</button>
	<button ng-click="closeSurvey()" class="btn btn-success">
		Close survey
	</button>
	<button ng-click="chooseDownload()" class="btn btn-danger" ng-hide="surveyMode === 'INSERT' || modified">Download</button>
</div>