<div class="container-fluid"  ng-init="load()">
	<div class="row">
		<div class="col-md-12">
			<h1>Find Surveys</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 d-flex justify-content-center">
			<div class="input-group search-form">
				<input type="search" class="form-control rounded"
					placeholder="By Creator username" aria-describedby="search-addon"
					ng-model="creatorNameSearch" />
				<button type="button" class="btn btn-outline-primary"
					ng-click="findSurveyByCreator()">Search</button>
			</div>

		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center">
			<!-- Search form -->

			<div class="input-group search-form">
				<input type="search" class="form-control rounded"
					placeholder="By Survey name" ng-model="surveyNameSearch"
					aria-describedby="search-addon" />
				<button type="button" class="btn btn-outline-primary"
					ng-click="findSurveyByName()">Search</button>
			</div>

		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center">
			<!-- Search form -->

			<div class="input-group search-form">
				<input type="search" class="form-control rounded"
					placeholder="Personal CODE for non-registered users" ng-model="surveyCodeCompile"
					aria-describedby="search-addon" />
				<button type="button" class="btn btn-outline-success"
					ng-click="surveyCodeCompileRedirect()">Compile</button>
			</div>

		</div>
	</div>
	<br>
	
	<div class="row" ng-hide="isEmptyResult">

		<div class="container-fluid" id="surveyCardContainer">

			<div class="row">
				<!-- ng-repeat="question in questions" -->
				<div class='col-md-12'>
					<div class="survey-card row" ng-repeat="survey in result">
						<div class='col-md-8'>
							<p>
								<b>Survey Name:</b> {{ survey.surveyName }}
							</p>
							<p>
								<b>User creator:</b> {{ survey.userDTO.username }}
							</p>


						</div>

						<div class='col-md-4 d-flex align-items-center flex-row-reverse' >
							<div class='col-md-6 '>
								<button ng-click="modifySurvey($index)" class="btn btn-primary" ng-hide="! isCreator[$index]">Modify</button>
							</div>

							<div class='col-md-6 '>
								<button ng-click="compileSurvey($index)" class="btn btn-success">Compile</button>
							</div>
						</div>


					</div>


				</div>

			</div>


		</div>

	</div>




	<div class="row" ng-hide="! isEmptyResult">
		<div class="col-md-12 d-flex justify-content-center">

			<h2>No results found...</h2>

		</div>
	</div>



</div>


