<div class="jumbotron">
	<h1>Home</h1>
</div>
<div class="container-fluid mb-4" ng-init="load()">

	<div class="row mt-4">
		<div class="col-md-12 d-flex justify-content-center">
			<p>
				<b>Find Surveys by Name and Code:</b>
			</p>
		</div>
	</div>

	<div class="row d-flex justify-content-center">
		<div class="col-md-4">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button type="button" class="btn btn-outline-primary"
						ng-click="findSurveyByText(searchText)">Search</button>
				</div>
				<input type="text" ng-model="searchText" class="form-control"
					id="searchSurvey" placeholder="Enter search text">
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="col-md-12  d-flex justify-content-center">
			<p>
				<b>Get back to compile your survey:</b>
			</p>
		</div>
	</div>
	<div class="row  d-flex justify-content-center">
		<div class="col-md-4">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button type="button" class="btn btn-outline-primary"
						ng-click="compileByCode(surveyCode)">Compile</button>
				</div>
				<input type="text" ng-model="surveyCode" class="form-control"
					id="searchSurvey" placeholder="Enter the compilation code">
			</div>
		</div>
	</div>
	<div class="row" ng-hide="! isLogged">
		<div class="col-md-12 d-flex justify-content-center">
			<button type="button" class="btn btn-primary m-1 p-2"
				ng-click="newQuestion()">New Question</button>

			<button type="button" class="btn btn-primary m-1 p-2" ng-click="">New
				Survey</button>
		</div>
	</div>
	<div class="row mt-4 p-5 " ng-hide="isEmptyResult"
		id="surveyCardContainer">
		<div class="col-sm-3 d-flex justify-content-center mb-4"
			ng-repeat="survey in result">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ survey.surveyName }}</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><b>Survey Code:</b> {{ survey.id
						}}</li>
					<li class="list-group-item"><b>Creation Date:</b> {{
						survey.creationDate }}</li>
					<li class="list-group-item"><b>User creator:</b> {{
						survey.userDTO.username }}</li>
				</ul>
				<div class="card-body">
					<button ng-click="modifySurvey($index)" class="btn btn-primary"
						ng-hide="! isCreator[$index]">Modify</button>
					<button ng-click="compileSurvey($index)" class="btn btn-success">Compile</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-2" ng-hide="! isEmptyResult">
	<div class="col-md-12 d-flex justify-content-center">
		<h2>No results found...</h2>
	</div>
</div>