<ng-include src="'../template/navbar.template.html'"></ng-include>
<div class="container" ng-init="load()">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <h2>User</h2>
            <form name="form" role="form">
                <div class="form-group">
                    <label for="name">Nome:</label> <input class="form-control" disabled id="name" name="name"
                                                           ng-model="name" type="text"/>
                </div>
                <div class="form-group">
                    <label for="surname">Cognome:</label> <input class="form-control" disabled id="surname"
                                                                 name="surname"
                                                                 ng-model="surname" type="text"/>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label> <input class="form-control" disabled id="username"
                                                                   name="username"
                                                                   ng-model="username" type="text"/>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label> <input class="form-control" disabled id="email" name="email"
                                                             ng-model="email" type="text"/>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4 p-5 justify-content-center" id="surveyCardContainer"
         ng-hide="isEmptyResult">
        <div class="col-sm-3 d-flex justify-content-center mb-4"
             ng-repeat="survey in result">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ survey.surveyName }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Survey Code:</b> {{ survey.id
                        }}
                    </li>
                    <li class="list-group-item"><b>Creation Date:</b> {{
                        survey.creationDate }}
                    </li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary" ng-click="modifySurvey($index)">Modify</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-2" ng-hide="! isEmptyResult">
    <div class="col-md-12 d-flex justify-content-center">
        <h2>No results found...</h2>
    </div>
</div>
</div>