.link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

nav{
	padding-left: 2%;
	color:white;
}

.nav-link{
	font-size: large;
}

.navbar-brand{
	font-size: x-large;
}

.jumbotron{
	background-color: #d0d8ef;
	padding: 1%;
}

.disabled {
    cursor: not-allowed;
}
