nav{
	padding-left: 2%;
	color:white;
}

.container-fluid{
	padding-top:2%;
	padding-left:1%;
}

body{
	color: black;

}



.search-form{
	width: 30%;
}

.search-form input{
	margin-right: 2%;
}

#row-not-found{
	margin-top:15%;
}

.inputError{
	color:red;
}

.question-card{
	border: 1px solid black;
	background-color : #d7e9f5;
	width: 100%;
}

.question-card .col-sm-1{
	border-right: 1px solid black;
	background-color : white;
	width:4%;
	
}

.question-card .col-md-11{
	padding:1%;
	
}

#questionCardContainer{
	width: 100%;
	height: 20%;
}


